{% extends 'base.html.twig' %}

{% block title %}AE Commentaires
{% endblock %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}

	{% include 'navbar.html.twig' %}

	<div class="content-wrapper">

		{% block content %}

			{# Formulaire de contact #}
			<h1 class="text-center">Laissez un commentaire
			</h1>

			<div class="row justify-content-center text-center">
				<div class="col-md-4">
					{{ form_start(form) }}

					{{ form_row(form.nom) | raw }}
					{{ form_row(form.prenom) | raw }}
					{{ form_row(form.contenu) | raw }}
					{{ form_row(form.note) | raw }}


					{{ form_end(form) }}

				</div>
			</div>
			{# Fin du formulaire de contact #}

			{# Commentaires publiés #}
			<div class="container mt-5">
				<h2 class="text-center mb-4">Commentaires publiés</h2>
				<ul class="list-unstyled">
					{% for commentaire in commentairesPublies %}
						<li class="card mb-3">
							<div
								class="card-body">
								{# Boucle pour afficher les étoiles pleines #}
								{% for i in range(1, commentaire.note) %}
									<i class="fas fa-star text-warning"></i>
								{% endfor %}

								{# Boucle pour afficher les étoiles vides (si nécessaire) #}
								{% for i in range(commentaire.note + 1, 6) %}
									<i class="far fa-star"></i>
								{% endfor %}

								<h4 class="card-title">{{ commentaire.nom ~ ' ' ~ commentaire.prenom }}</h4>
								<p class="card-text">{{ commentaire.contenu | nl2br }}</p>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			{# Fin des commentaires publiés #}


		{% endblock %}
	</div>

	{% include 'footer.html.twig' %}

{% endblock %}
